<%- include('blocks/head.ejs', {title: 'log in express notes'}) %>
<div class="container center">
    <h2>Войти на сайт express notes</h2>
    <form action="/login" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="login" name="login" autocomplete="off" required autofocus>
                <label for="login">Логин</label>
            </div>
            <div class="input-field col s12">
                <input type="password" id="password" name="password" required>
                <label for="password">Пароль</label>
            </div>
        </div>
        <input type="submit" class="waves-effect waves-light btn" value="Войти">
        <h6 class="center">Ещё нет аккаунта? <a href="/reg">Зарегистрироваться</a>.</h6>
    </form>
</div>
<%- include('blocks/footer.ejs') %>
