<%- include('blocks/head.ejs', {title: 'eum'}) %>
<div class="container center">
    <h5>
        <%= msg %> <br>
        <a href="/">На главную</a>
    </h5>
</div>
<%- include('blocks/footer.ejs') %>
