<%- include('blocks/head.ejs', {title: 'Создать запись'}) %>
<div class="container text-center">
    <h1>Создать запись</h1>
</div>
<hr>
<div class="container">
    <form action="/create-note" method="post">
        <div class="form-group">
            <label for="heading-input">Название</label>
            <input id='heading-input' type="text" class="form-control" name="heading"
                   required>
        </div>
        <div class="form-group">
            <label for="text-input">Текст</label><br>
            <textarea class="form-control" id="text-input" name="text" cols="30" rows="10"
                      required></textarea>
        </div>
        <input type="submit" value="Создать" class="btn btn-outline-primary">
    </form>
</div>
<%- include('blocks/footer.ejs') %>
