<%- include('blocks/head.ejs', {title: 'Зарегистрироваться на сайте express notes'}) %>
<body>
<div class="container center">
    <h2>Зарегистрироваться на сайте express notes</h2>
    <form action="/reg" method="post" class="mt-2">
        <div class="input-field">
            <input type="text" id="login" name="login" autocomplete="off" required>
            <label for="login">Логин</label>
        </div>
        <div class="input-field">
            <input type="password" name='password' id="password" required>
            <label for="password">Пароль</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light">Создать аккаунт</button>
        <h6 class="center">Уже есть аккаунт? <a href="/login">Войти</a>.</h6>
    </form>
</div>
</body>
</html>
